.styleC {
    margin-top: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
    background-color: salmon;
}
.stock-name{
    margin-top: 0.5em
}
.stock-code{
    margin-top: 0.5em;
}
.stock-price {
    margin-top: 0.5em;
}
.error {
    color: violet;
}
.notable-people {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}