<h2>Create Stock Form</h2>
<div class="form-group">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
        <div class="stock-name">
            <input type="text" placeholder="Stock name" name="stockName" formControlName="name"> <!-- ligne 5-->
            <div class="error" *ngIf="name.invalid && (name.dirty ||name.touched)">Name is required</div>
        </div>
        <div class="stock-code">
            <input type="text" placeholder="Stock code" name="stockCode" formControlName="code">
            <div class="error" *ngIf="stockForm.get('code').invalid &&
                        ( stockForm.get('code').dirty ||
                        stockForm.get('code').touched )">
                <div *ngIf="stockForm.get('code').errors.required">
                    Stock Code is required
                </div>
                <div *ngIf="stockForm.get('code').errors.minlength">
                    Stock Code must be at least 2 characters
                </div>
            </div>
        </div>
        <div class="stock-price">
            <input type="number" placeholder="Price" name="stockPrice" formControlName="price">
            <div class="error" *ngIf="stockForm.get('price').invalid &&
                        ( stockForm.get('price').dirty ||
                        stockForm.get('price').touched )">
                <div *ngIf="stockForm.get('price').errors.required">
                    Stock Price is required
                </div>
                <div *ngIf="stockForm.get('price').errors.min">
                    Stock Price must be positive
                </div>
            </div>
        </div>
        <div formArrayName="notablePeople">
            <div *ngFor="let person of notablePeople.controls; let i = index" [formGroupName]="i"
                class="notable-people">
                <div>
                    Person {{i + 1}}
                </div>
                <div>
                    <input type="text" placeholder="Person Name" formControlName="name">
                </div>
                <div>
                    <input type="text" placeholder="Person Title" formControlName="title">
                </div>
                <button type="button" (click)="removeNotablePerson(i)">Remove Person</button>
            </div>
        </div>
        <button class="btn btn-outline-info" (click)="addNotablePerson()">Add Notable Person</button>
        <button class="btn btn-outline-info" type="submit">Submit</button>
        <button class="btn btn-outline-info" type="button" (click)="resetForm()">Reset</button>
    </form>
</div>
<p>Form groupe value: {{ stockForm.value | json }}</p> 
<p>Form groupe status: {{ stockForm.status | json }}</p>
<!-- <p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p> -->