<h2>Create Stock Form Complet</h2>
<div class="container">
  <div class="form-group">
    <form (ngSubmit)="createStock(stockForm)" #stockForm="ngForm">
      <div class="row">
        <div class="col-2"> <label>Stock Name : </label> </div>
        <div class="col-2">
          <input type="text" placeholder="Stock Name"
          required name="stockName" #stockName="ngModel" [(ngModel)]="stock.name">
        </div>
        <div class="col-2" *ngIf="stockName.errors && stockName.errors.required">
          <i class="error">Stock Name is Mandatory</i>
        </div>
      </div>
      <div class="row">
        <div class="col-2"> <label>Stock Code : </label> </div>
        <div class="col-2">
          <input type="text" placeholder="Stock Code"
          name="stockCode" required  minlength="2"
          #stockCode="ngModel" [(ngModel)]="stock.code">
        </div>
        <div class="col-2" *ngIf="stockCode.dirty && stockCode.invalid">
            <div *ngIf="stockCode.errors?.required">
             <i class="error"> Stock Code is Mandatory </i>
            </div>
            <div *ngIf="stockCode.errors?.minlength">
              <i class="error">Stock Code must be atleast of length 2</i>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2"> <label>Stock Price : </label> </div>
        <div class="col-2">
          <input type="text" placeholder="Stock Price" name="stockPrice" [(ngModel)]="stock.price">
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-2"> -->
          <div class="input-group col-2">
            <select name="stockExchange"  [(ngModel)]="stock.exchange">
              <option *ngFor="let ex of exchanges"  value="NYSE">{{ex}}</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" id="inputGroup-sizing-sm">Exchange</label>
            </div>
          </div>
        <!-- </div> -->
      </div>
      <div class="row">
        <div class="col-2">
          <label class ="form-check-label" for="exampleCheck1">confirmed : </label>
        </div>
        <div class="col-2">
          <input type="checkbox" name="stockConfirm" [(ngModel)]="confirmed">
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!confirmed">Submit</button>
    </form>
  </div>
</div>

